<body class="wp-singular page-template-default page page-id-280 wp-custom-logo wp-embed-responsive wp-theme-twentytwentyfour">

<div class="wp-site-blocks">
<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">


<main class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
<div class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-12243e0f wp-block-group-is-layout-constrained">
<div style="height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
</div>


<div class="entry-content wp-block-post-content is-layout-flow wp-block-post-content-is-layout-flow">
<div class="wp-block-group has-custom-color-3-background-color has-background has-global-padding is-layout-constrained wp-container-core-group-is-layout-99874c75 wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)">
<div class="wp-block-group is-content-justification-space-between is-nowrap is-layout-flex wp-container-core-group-is-layout-380462dc wp-block-group-is-layout-flex" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--10);padding-right:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10);padding-left:var(--wp--preset--spacing--10)">
<div class="wp-block-group has-global-padding is-content-justification-left is-layout-constrained wp-container-core-group-is-layout-50fe4906 wp-block-group-is-layout-constrained"><h2 class="has-link-color wp-elements-2d41295ec031482c5a0a61775ffb702d wp-block-post-title has-text-color has-custom-color-1-color">About Me</h2>


<div style="height:1.25rem;width:158px" aria-hidden="true" class="wp-block-spacer"></div>



<p class="has-text-align-left has-custom-color-1-color has-text-color has-link-color wp-elements-0bde11161e0788a64faae3f36fe13c6a" style="font-size:clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.625), 1.25rem);">At 19, I have been fortunate enough to help manage network environments for 60+ companies at one of Vermont&rsquo;s best MSPs while building a datacenter-grade lab in my bedroom. Most people my age are figuring out their major in college. I&rsquo;m already planning my legacy.</p>



<p class="has-custom-color-1-color has-text-color has-link-color wp-elements-4235e1a41a8486c3583d5be89b6c90ef">I am CCNA certified and progressing toward the CCNP Enterprise certification by 21, I&rsquo;m targeting the CCIE certification by 24 to become the youngest in my region.</p>



<p class="has-text-align-left has-custom-color-1-color has-text-color has-link-color wp-elements-2ada9505497ee42b01a4d1a1b8f07764">I combine my professional experience with an extensive networking lab environment and mentorship of my fellow students, building the foundation for a career dedicated to fostering opportunities for the next generation of professionals like you and me.</p>
</div>



<div class="wp-block-group has-global-padding is-content-justification-left is-layout-constrained wp-container-core-group-is-layout-72216335 wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
<figure class="wp-block-image size-full is-style-rounded is-style-rounded--2" style="margin-right:0;margin-left:0"><img fetchpriority="high" decoding="async" width="800" height="800" src="/wp-content/uploads/2025/07/connor.jpg" alt="" class="wp-image-31" style="aspect-ratio:3/4;object-fit:cover" srcset="/wp-content/uploads/2025/07/connor.jpg 800w, /wp-content/uploads/2025/07/connor-300x300.jpg 300w, /wp-content/uploads/2025/07/connor-150x150.jpg 150w, /wp-content/uploads/2025/07/connor-768x768.jpg 768w" sizes="(max-width: 800px) 100vw, 800px"></figure>
</div>
</div>
</div>



<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
<div class="wp-block-group has-custom-color-1-color has-text-color has-link-color wp-elements-d24b1127a4cc1b59159520d29a470e59 has-global-padding is-layout-constrained wp-container-core-group-is-layout-3fcdbd40 wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
<h2 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color wp-elements-197915bb8aab170e950a89b9eea26a81">The Journey so far.</h2>



<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-group is-nowrap is-layout-flex wp-container-core-group-is-layout-f66f9956 wp-block-group-is-layout-flex">
<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h4 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color has-medium-font-size wp-elements-a0a87b45e7c3962a2b1b0e2c7befb904">Early Start (16 &ndash; 17 years old)</h4>



<p>From my Junior year of High School, I was able to take comprehensive Cisco networking courses, as well as work in an IT Support role for my parents&rsquo; small business.</p>
</div>



<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h2 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color has-medium-font-size wp-elements-61c100a9b210d1e5def3611110b3253b">Rapid Growth (18 years old)</h2>



<p>I achieved my Cisco CCNA certification just months after turning 18, and was promoted to a team lead only a year after working for my college&rsquo;s student-led Leahy Center for Digital Forensics and Cybersecurity</p>
</div>



<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h2 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color has-medium-font-size wp-elements-fa5ae4a92611ec172a5d8a5a381ff3a4">Professional Growth (19 years old)</h2>



<p>I found a new position with one of Vermont&rsquo;s top MSPs, established a lab environment to continue growing, and my pursuit for the Cisco CCNP and CCIE certifications have continued on!</p>
</div>
</div>
</div>



<div class="wp-block-group has-custom-color-1-color has-custom-color-3-background-color has-text-color has-background has-link-color wp-elements-c7fdcb82d6b34617da50a8ebdf33c86e has-global-padding is-layout-constrained wp-container-core-group-is-layout-3fcdbd40 wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
<h2 class="wp-block-heading has-text-align-right has-custom-color-1-color has-text-color has-link-color wp-elements-49f292fbbfca48ceff5200a63d008be9">What drives me?</h2>



<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-group is-nowrap is-layout-flex wp-container-core-group-is-layout-f66f9956 wp-block-group-is-layout-flex">
<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h4 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color has-medium-font-size wp-elements-62e404d9c3d5a069f62ed0b23b60b0ac">Lifelong Learning</h4>



<p>My lab environment is not just for certification study, I truly enjoy my industry! I deconstruct topics, simulate successes and of course failures, all because I enjoy it!</p>
</div>



<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h2 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color has-medium-font-size wp-elements-8ffc7fe9df33d499c66d78173c3c6767">Mentoring</h2>



<p>Just as my professors and role models have done for me, I believe that mentoring those around me is crucial. Every fellow student I work with and help has the potential to transform how we preserve and share technical knowledge.</p>
</div>



<div class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h2 class="wp-block-heading has-custom-color-1-color has-text-color has-link-color has-medium-font-size wp-elements-e91c03154590f467c6b74dfbb10abe91">Problem Solving</h2>



<p>In every job I&rsquo;ve worked in this industry, there have been critical issues eg. severe network downtime. I have been at the forefront of it all, working my hardest to resolve it!</p>
</div>
</div>
</div>



<div class="wp-block-group has-global-padding is-layout-constrained wp-container-core-group-is-layout-50f4c5aa wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
<p class="has-text-align-center has-custom-color-1-color has-text-color has-link-color has-large-font-size wp-elements-307ced3206d93787afbccc06f86580d7">To me, what I do isn&rsquo;t just about networking or cybersecurity. It&rsquo;s about building a legacy that uplifts the people around me as I work harder and harder.</p>
</div>
</div>
</div>
</main>
</div>
</div>
<script type="speculationrules">{"prefetch":[{"source":"document","where":{"and":[{"href_matches":"\/*"},{"not":{"href_matches":["\/wp-*.php","\/wp-admin\/*","\/wp-content\/uploads\/*","\/wp-content\/*","\/wp-content\/plugins\/*","\/wp-content\/themes\/twentytwentyfour\/*","\/*\\?(.+)"]}},{"not":{"selector_matches":"a[rel~=\"nofollow\"]"}},{"not":{"selector_matches":".no-prefetch, .no-prefetch a"}}]},"eagerness":"conservative"}]}</script>
<script id="wp-block-template-skip-link-js-after">( function() {
		var skipLinkTarget = document.querySelector( 'main' ),
			sibling,
			skipLinkTargetID,
			skipLink;

		// Early exit if a skip-link target can't be located.
		if ( ! skipLinkTarget ) {
			return;
		}

		/*
		 * Get the site wrapper.
		 * The skip-link will be injected in the beginning of it.
		 */
		sibling = document.querySelector( '.wp-site-blocks' );

		// Early exit if the root element was not found.
		if ( ! sibling ) {
			return;
		}

		// Get the skip-link target's ID, and generate one if it doesn't exist.
		skipLinkTargetID = skipLinkTarget.id;
		if ( ! skipLinkTargetID ) {
			skipLinkTargetID = 'wp--skip-link--target';
			skipLinkTarget.id = skipLinkTargetID;
		}

		// Create the skip link.
		skipLink = document.createElement( 'a' );
		skipLink.classList.add( 'skip-link', 'screen-reader-text' );
		skipLink.id = 'wp-skip-link';
		skipLink.href = '#' + skipLinkTargetID;
		skipLink.innerText = 'Skip to content';

		// Inject the skip link.
		sibling.parentElement.insertBefore( skipLink, sibling );
	}() );</script>
<script id="animate-in-view-js-js-after">
(function() {
'use strict';
document.querySelectorAll('[animatein]').forEach(function (el) {
    if (!Number(el.getAttribute('enabled'))) return;
    const dir = el.getAttribute('direction');
    const offset = el.getAttribute('offset');
    el.style.opacity = 0;
    el.style.overflow = 'hidden';
    Array.from(el.children).forEach(function (child) {
        child.style.transform = `translateX(calc(${offset} * ${dir}))`;
    });
    const observer = new IntersectionObserver(function (entries) {
        if (entries[0].intersectionRatio === 0) {
            el.classList.remove(el.getAttribute('animatein'));
            el.style.overflow = 'hidden';
            return;
        }
        if (entries[0].intersectionRatio < Number(el.getAttribute('threshold'))) {
            return;
        }
        el.style.overflow = 'visible';
        el.classList.add(el.getAttribute('animatein'));
        Number(el.getAttribute('once')) && observer.unobserve(el);
    }, { threshold: [Number(el.getAttribute('threshold')), 0] });
    observer.observe(el);
});
})();
</script>
</body>
